@charset"utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


body{
    background-color: #F5EADA;
    width:auto;
    margin:auto;
    text-align: left;
}

.wrap{
  width:90%; 
  background-color :#d3bb98;
  color:#525151; 
  text-align:left;
}

.contents{
  width: 80%; 
  margin: 0 10%;
}

div.title{
  font-size:18px;
  width:1000px;
  margin:0;
}

table{
  width:100%;
  border:1px solid gray;
  border-collapse:collapse;
  font-size:13px;
  margin:auto;
}

th,td{
  border:1px solid gray;
  border-collapse:collapse;
  padding:5px;
}

th{
  text-align:center;
  width:150px;
  background-color:rgb(200, 200, 200);
}

td{
  font-size: 15px;
}

div.warning{
  text-align:right;
  color:red;
}

div.finish{
  width:700px;
  margin:auto;
}

button.finish1{
  background-color:rgb(117, 117, 117);
  color:white;
  width:90px;
  padding:10px;
  margin:5px;
}

button.finish2{
  background-color:navy;
  color:white;
  width:90px;
  padding:10px;
  margin:5px;
}

button.finish3{
  background-color:white;
  width:90px;
  padding:10px;
  margin:5px;
} 

