<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <script src = "/js/home/5_1.js" defer></script>

    <title>등록유형선택</title> 
    <link rel="stylesheet" href="/css/home/page5_1.css">
    <link href="index10.css" rel="stylesheet" type="text/css" />

  </head>
  <body>

    
    <nav class="menu">
      <ul>
       <li><a href="#"> <img src="assets/logo.jpg" alt="로고"> </a></li>
       <li><a href="#" onclick="location.href='../p12/index.html';"> 전자계약 </a></li>
       <li><a href="#"> 커뮤니티 </a></li>
       <li><a href="#"> 금융서비스 </a></li>
       <li><a href="#"> 법원서비스</a></li>
       <li><a href="#" onclick="location.href='../p7/index.html';"><b>매물등록</b></a></li>
       <li><a href="#"> 문의 </a></li>
       <li><a href="#"> 로그인 </a></li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <div class="Procedure">
      <button class="Procedure1" >본인인증<br> /임시</button>
      <button class="Procedure2" > 계약 유형<br> 선택하기 </button>
      <button class="Procedure1" > 중개대상물<br> 세부 확인사항 </button>
      <button class="Procedure1" > 중개보수등에<br> 관한 사항</button>
      <button class="Procedure1" > 물건등록완료<br> /임시</button>
    </div>

  <div class="content"> 
    <center>
      <h2>매매용</h2><br>
      <button class="type1" style="cursor:pointer;">주거용</button>
      <button class="type1" style="cursor:pointer;">비주거용</button>
      <button class="type1" style="cursor:pointer;">토지</button>
      <button class="type2" style="cursor:pointer; float:right;">입목 광업 공장제단</button>
    </center><br>
  </div>

    <div class="content"> 
    <center>
      <h2>임대차용</h2><br>
      <button class="type1" style="cursor:pointer;">주거용</button>
      <button class="type1" style="cursor:pointer;">비주거용</button>
      <button class="type1" style="cursor:pointer;">토지</button>
      <button class="type2" style="cursor:pointer; float:right;">입목 광업 공장제단</button>
  </div>


  </body>
</html>