<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home/login.css">
        <script src = "/js/home/reset_psword.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="reset_psword-page">
            <div class="form">
              <form class="find-id-page-form">
                <input id = "token" type="text" placeholder="인증토큰"/>
                <input id = "new_psword" type="text" placeholder="새 비밀번호"/>
                <p id = "button">비밀번호 변경</p id = "button">

              </form>
            </div>
          </div>
    </body>
  
    </html>
    <!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->